@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat Regular";
  src: url("./assets//fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("./assets//fonts/Montserrat/Montserrat-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("./assets//fonts/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-size: 16px;
    font-family: "Montserrat Medium", sans-serif;
  }

  button,
  a,
  img {
    user-select: none;
  }

  input[type="checkbox"] {
    accent-color: #000;
  }

  *::-webkit-scrollbar {
    width: 5px;
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background-color: #deded0;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b6b7bb;
    border-radius: 14px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
